name: Build
on: [pull_request, push]
jobs:

  # Build task for Lib5K
  lib5k:
    strategy:
      matrix:
        os: [ubuntu-latest,  windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: bootstrap
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: :lib5k:build --scan

  # Build task for Examples
  examples:
    strategy:
      matrix:
        os: [ubuntu-latest,  windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: bootstrap
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: :examples:build --scan